/* Reset */
ul,ol,li {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */




/* Colours */  
/*.color-yellow {background:#f2bc00;}  */
/*.color-red    {background:#dd0000;}  */
.color-yellow {background:#D1D481;}  
.color-red    {background:#FF7171;}  
.color-blue   {background:#148ea4;}  
.color-white  {background:#dfdfdf;}  
.color-orange {background:#f66e00;}  
.color-green  {background:#8dc100;}  
.color-yellow h3,.color-white h3,.color-green h3  
    {color:#000;}  
.color-red h3,.color-blue h3,.color-orange h3  
    {color:#FFF;}  
/* End Colours */  

/* Columns section */  
#columns .dashboard-column {  
    float: left;  
    /* Min-height: */  
    min-height: 400px;  
    height: auto !important;  
    height: 400px;  
    
    width: 33.3%;  
}  
  
/* Column dividers (background-images) : */  
    /*#columns #column1 { background: url(../images/column-bg-left.png) no-repeat right top; }  
    #columns #column3 { background: url(../images/column-bg-right.png) no-repeat left top; }  
*/
#columns #dashboard-column0 .widget { 
    margin: 10px 10px 10px 10px; 
    width: 100%;
    min-height: 100px;
}  
#columns #dashboard-column1 .widget { margin: 10px 10px 10px 10px; }  
#columns #dashboard-column3 .widget { margin: 10px 10px 10px 10px; }  
#columns .widget {  
    margin: 10px 10px 10px 10px;  
    padding: 2px;  
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
}  
#columns .widget .widget-head {  
    color: #000;  
    overflow: hidden;  
    width: 100%;  
    height: 30px;  
    line-height: 30px;  
}  
#columns .widget .widget-head h3 {  
    padding: 0 5px;  
    float: left;  
}  
#columns .widget .widget-content {  
    background: #333 url(../images/widget-content-bg.png) repeat-x;  
    padding: 5px;  
    color: #BBB;  
    -moz-border-radius-bottomleft: 2px;  
    -moz-border-radius-bottomright: 2px;  
    -webkit-border-bottom-left-radius: 2px;  
    -webkit-border-bottom-rightright-radius: 2px;  
    line-height: 1.2em;  
    overflow: hidden;  
}  